* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  border: 3px solid blue;
  width: 650px;
  height: 300px;
  margin: 250px auto;
}

.container div {
  margin: 67.5px 20px;
}

.img {
  float: left;
}

.text {
  text-align: justify;
}
