* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

.container {
  border: 4px solid rgba(44, 44, 44, 255);
  border-radius: 5px;
  background-color: #d46461;
  width: 80rem;
  height: 70rem;
  margin: 10rem auto;
  text-align: center;
  position: relative;
}

.img {
  position: absolute;
  top: -10rem;
  left: 30rem;
}

.img img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 4px solid rgb(44, 44, 44);
}

.main {
  margin-top: 13rem;
}

.main h1 {
  font-size: 3rem;
  color: #1f1919;
  margin-bottom: 5rem;
}

.main span {
  color: #d6ea3c;
}

.main p {
  font-size: 4.5rem;
  font-weight: bolder;
  color: #4a3a3b;
  line-height: 6rem;
}

.footer {
  text-align: center;
  margin-top: -4rem;
}

.footer a {
  color: #e96298;
  font-family: Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 2.1rem;
  letter-spacing: 0.1rem;
}
